@page "/"
@page "/Groups"
@using ShearwellExercise.DAL
@using ShearwellExercise.Interface
@using ShearwellExercise.Models

@inject IGroupDAL _groupDAL
@inject NavigationManager _navigation


<h3 class="mb-3">Groups</h3>

<MudTable Items="@groups" Hover="true" Loading="@isLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Tag</MudTh>
        <MudTh>Date Of Birth</MudTh>
        <MudTh>Animal Count</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.DateTimeCreated</MudTd>
        <MudTd>@context.AnimalForGroups.Count</MudTd>
        <MudTd><a href="/Groups/Detail/@context.Id">View</a></MudTd>
    </RowTemplate>
</MudTable>

@code {

    private List<Group> groups = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await _groupDAL.CreateGroups();

        groups = await _groupDAL.GetAll();
        isLoading = false;

        await base.OnInitializedAsync();
    }
}